@import './common.scss';
@import './reset.scss';
@import './variables.scss';

body {
    background-color: $primary-color;
    font-size: 18px;
}
.home {
    background-color: rgb(219, 229, 219);
}
h2 {
    padding: 10px;
}