@import '../styles/mixins';

.header {
    position: sticky; 
    top: 0;
    @include flex(center, center);
    margin-bottom: 10px;
    height: 60px;
    border-bottom: 4mm ridge rgba(211, 220, 50, .6);
    background-color: rgb(64, 55, 32);
    color: #e9e4e4;
}